
<!DOCTYPE html>
<html>
<script src="https://use.fontawesome.com/68a1a56600.js"></script>
<head>
	<title>Change-Password</title>
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body class="subpage">
    <header id="header" style="background-color: #6cc091">
                {% if user.is_authenticated %}
                <div class="inner">
                    <a href="index" class="logo"><strong>ONLine</strong>SelfieContest</a>
                    <nav id="nav">

                        <a href="index"><i class="fa fa-home fa-fw" aria-hidden="true"></i>Home</a>
                        
                        <a href="events"><i class="fa fa-camera-retro"></i>&nbsp;Events</a>
                        
                        <a href="/profile"><i class="fa fa-user-circle-o"></i>&nbsp;Profile</a>
                        <a href="about"><i class="fa fa-book"></i>&nbsp;AboutUs</a>
                        <a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;Logout</a>
                        
                    </nav>
                    

                    </nav>
                    <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
                </div>
                {% else %}
                <div class="inner">
                    <a href="index" class="logo"><strong>ONLine</strong>SelfieContest</a>
                    <nav id="nav">

                        
                        <a href="index"><i class="fa fa-home fa-fw" aria-hidden="true"></i>Home</a>
                        

                        <a href="events"><i class="fa fa-camera-retro"></i>&nbsp;Events</a>
                        
                        <a href="about"><i class="fa fa-book"></i>&nbsp;AboutUs</a>
                        <a href="/login">Login</a>
                        <a href="/register">SignUp</a>
                    </nav>
                    

                    </nav>
                    <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
                </div>
                {% endif %}



            </header>

     <br>

<div class="container">
<center>
    <div class="container" style="width: 500px;">
    <form method="POST">
    	
    	{% csrf_token %}
    	{{ form.as_p }}

    	<button type="submit">Submit</button>
    </form>
    </div>
</center>

</div>


</body>
</html>